__pycache__/
dxiv/
dxiv_pcb/
blender/
cq-venv/
references/
.cache/

# Unused design files
test*
*.py
*.stp
*.stl
*.png
*.jpeg
*.jpg
*.svg
*.step
*.FCStd
*.FCBak
*.csg
polyround*

# Blog items
node_modules/
blog/public/images/raw/
blog/_site

compile_commands.json

