---
title:
description: Explaining the process of making a DIY Handwired Split Keyboard
---
<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/bundle.css" | url }}">
    {% if title %}
    <title>{{ title }} - Making a Handwired Split Keyboard</title>
    {% else %}
    <title>Making a Handwired Split Keyboard</title>
    {% endif %}

    {% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    {% endif %}

    {% if title %}
    <meta property="og:title" content="{{ title }} - Making a Handwired Split Keyboard">
    {% else %}
    <meta property="og:title" content="Making a Handwired Split Keyboard">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ittihadi.github.io/keyboards/">
    <meta property="og:image" content="{{ "/images/thumbnail_image_full.webp" | url }}">
    <meta name="twitter:card" content="summary_large_image"/>

    <!--
    <meta rel="icon" href="{{ "/favicon.ico" | url }}" sizes="any">
    <meta rel="icon" href="{{ "/icon.svg" | url }}" type="image/svg+xml">
    <meta rel="apple-touch-icon" href="{{ "/icon.png" | url }}">

    <meta rel="manifest" href="site.webmanifest">
    -->
    <meta name="theme-color" content="#a6e3a1">
  </head>
  <body>
    <nav>
      <a href="{{ "/" | url }}">Keyboard Blog</a>
      <a href="{{ "/short/" | url }}">Short Version</a>
    </nav>
    <div class="page-layout">
      {{ content | safe }}
    </div>
  </body>
</html>

